TB_PHPCL                  BITMAP  "images\TB_PHPCL.bmp"
AC_VISIBILITY_PUBLIC      RCDATA  "images\bullet_green.png"
AC_VISIBILITY_PRIVATE     RCDATA  "images\bullet_red.png"
AC_VISIBILITY_PROTECTED   RCDATA  "images\bullet_yellow.png"
CLDF_ATTRIBUTEMETHOD      BITMAP  "images\CLDF_ATTRIBUTEMETHOD.bmp"
CLDF_CLASS                BITMAP  "images\CLDF_CLASS.bmp"
CLDF_FILE                 BITMAP  "images\CLDF_FILE.bmp"
CLDF_PRIVATE              BITMAP  "images\CLDF_PRIVATE.bmp"
CLDF_PROTECTED            BITMAP  "images\CLDF_PROTECTED.bmp"
CLDF_PUBLIC               BITMAP  "images\CLDF_PUBLIC.bmp"
